SERVER_PORT=
SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
QUIMIA_JWT_PRIVATE_KEY_BASE64=
QUIMIA_JWT_PUBLIC_KEY_BASE64=
QUIMIA_JWT_KID=
APP_CORS_ALLOWED_ORIGINS=http://localhost:3000
