[Unit]
Description=Refresh Quimia ECR image pull secret
Requires=k3s.service
After=network-online.target k3s.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/quimia-ecr-pull-secret
